.square{
  background: #fff;
  padding: 5vw;
  border-radius: 100%;
  margin: 1vw;
  border-color:rgb(30, 30, 204);
}

.scaffold{
  background: rgb(30, 30, 204);
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}